SUPABASE_URL=https://wrkjqnbpoeplbxnbgggn.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indya2pxbmJwb2VwbGJ4bmJnZ2duIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2MzI4NDgsImV4cCI6MjA4OTIwODg0OH0.G3b2FIhew9puxSe9rRl81GOBXrZaATa-DNl6bwGHqsY
GEMINI_API_KEY=AIzaSyCSabulXXCJSU7RpuguOYnSCWaBWtQn1fA
GITHUB_TOKEN=your_github_token_here
